@use "./styles/layout";
@use "./styles/typo";
@use "./styles/theme";
@use "./styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
