@use "./styles/layout";
@use "./styles/typo";
@use "./styles/theme";
@use "./styles/variables";
@use "./styles/icons";

// TODO:
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
