<div
  class="container-fluid container-no-padding"
  [class.is-mobile]="mobileQuery.matches"
>
  <app-toolbar (openNavbar)="onToggleSidebar()"></app-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 64 : 0"
  >
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="true"
      fixedTopGap="64"
      [opened]="!mobileQuery.matches"
    >
      <mat-nav-list>
        <div class="uppercase-text" i18n mat-subheader>
          <app-icon [icon]="'home'"></app-icon>&nbsp;Home
        </div>
        <a
          routerLink="/"
          routerLinkActive="list-item-active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-line
          ><mat-list-item i18n>Dashboard</mat-list-item></a
        >
        <div class="uppercase-text" i18n mat-subheader>
          <app-icon [icon]="'schedule'"></app-icon>&nbsp;Time Tracking
        </div>
        <a
          routerLink="/time-tracking/time/-/new"
          routerLinkActive="list-item-active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-line
        >
          <mat-list-item i18n>Add Time</mat-list-item></a
        >
        <a
          routerLink="/time-tracking/history/-/list"
          routerLinkActive="list-item-active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-line
          ><mat-list-item i18n>History</mat-list-item></a
        >
        <a
          routerLink="/time-tracking/project/-/list"
          routerLinkActive="list-item-active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-line
          ><mat-list-item i18n>Project</mat-list-item></a
        >
        <div class="uppercase-text" i18n mat-subheader>
          <app-icon [icon]="'app_registration'"></app-icon>&nbsp;CMS
        </div>
        <div class="uppercase-text" i18n mat-subheader>
          <app-icon [icon]="'badge'"></app-icon>&nbsp;HR
        </div>
        <div class="uppercase-text" i18n mat-subheader>
          <app-icon [icon]="'settings'"></app-icon>
          &nbsp;Admin
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="row">
        <div class="col content">
          <ng-content></ng-content>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
