<div
  class="container-fluid container-no-padding"
  [class.is-mobile]="mobileQuery.matches"
>
  <app-toolbar (openNavbar)="onToggleSidebar()"></app-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 64 : 0"
  >
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="!mobileQuery.matches"
      fixedTopGap="64"
      [opened]="!mobileQuery.matches"
    >
      <mat-nav-list>
        <div class="uppercase-text" i18n mat-subheader>
          <mat-icon>home</mat-icon>&nbsp;Home
        </div>
        <mat-list-item>
          <a
            routerLink="/"
            routerLinkActive="list-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-line
            i18n
            >Dashboard</a
          >
        </mat-list-item>

        <div class="uppercase-text" i18n mat-subheader>
          <mat-icon>schedule</mat-icon>&nbsp;Time Tracking
        </div>
        <mat-list-item>
          <a
            routerLink="/time-tracking/new"
            routerLinkActive="list-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-line
            i18n
            >Add Time</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            routerLink="/time-tracking/history/-/list"
            routerLinkActive="list-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-line
            i18n
            >History</a
          >
        </mat-list-item>
        <div class="uppercase-text" i18n mat-subheader>
          <mat-icon>app_registration</mat-icon>&nbsp;CMS
        </div>
        <div class="uppercase-text" i18n mat-subheader>
          <mat-icon>badge</mat-icon>&nbsp;HR
        </div>
        <div class="uppercase-text" i18n mat-subheader>
          <mat-icon>settings</mat-icon>
          &nbsp;Admin
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
