<mat-form-field appearance="fill">
  <mat-label i18n>Please select your work week</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate i18n-placeholder placeholder="Start date" />
    <input matEndDate i18n-placeholder placeholder="End date" />
  </mat-date-range-input>
  <mat-hint>{{ _dateFormat }} – {{ _dateFormat }}</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
